h1, h2 {
  text-align: center;
  color: #991454;
}

h3 {
  color: #1a1a1a;
  font-style: italic;
}

.container {
  margin: 100px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  display: block;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #4483A5;
  background-color: #4483A5;
  height: 35px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #4483A5;
  background-color: #4483A5;
  height: 35px;
}

input[type=submit] {
  text-align: center;
  border: 1px solid #4483A5;
  border-radius: 10px;
  background: #4483A5;
  color: white;
  width: 150px;
}

input {
  display: block;
  width: 500px;
  margin: auto;
  margin-bottom: 10px;
  padding: 2px;
  border: 1px solid #1a1a1a;
  border-radius: 5px;
  text-align: center;
}

.error-list {
  list-style-type: none;
  padding: 0px;
}

.errors {
  text-align: center;
  color: #991454;
  padding-top: 5px;
}

.quote-wrapper {
  border: 1px dotted #1a1a1a;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}

.character-name {
  font-weight: bold;
}

.quote-line {
  padding-left: 10px;
}

.context-line {
  font-style: italic;
  padding-left: 10px;
}

.search-again-button {
  width: 160px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid #4483A5;
  border-radius: 10px;
  text-align: center;
  background-color: #4483A5;
}

.search-again-button a {
  margin: 10px;
  color: white;
  display: inline-block;
}

.search-again-button a:hover {
  font-weight: normal;
}
