<h1>LOL I LOVE THAT MOVIE!</h1>

<div class="search-again-button" style="display: none">
  <a href="/">try another quote</a>
</div>

<form action="/" method="post" class="movie-quote-form">
  <input type="text" name="quote" placeholder="enter a movie quote...">
  <input type="submit" value="Submit">
</form>

<div class="quote-container">

</div>
