<h1>Home Page Placeholder</h1>


<form action="" method="" class="movie-quote-form">
  <input type="text" name="quote" placeholder="enter a movie quote...">
  <input type="submit" value="Submit">
</form>
